/* Import CSS styles from reactflow */
@import "reactflow/dist/style.css";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0f172a;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
